parameters:
    level: 2

    paths:
        - src
        - tests

    scanDirectories:
        - vendor/swoole

    ignoreErrors:
        - '#Call to an undefined method RedisCluster::x(Add|Group|ReadGroup|Ack|Pending|Claim|AutoClaim|Del|Len|Trim|Info|Range|RevRange)\(\)#'