parameters:
    level: 2

    paths:
        - src
        - tests

    scanDirectories:
        - vendor/swoole

    # phpredis stubs don't include Redis Streams methods (xAdd, xGroup, etc.)
    # These methods exist at runtime but PHPStan's stubs are incomplete
    # See: https://github.com/phpredis/phpredis-stubs/issues
    ignoreErrors:
        -
            message: '#Call to an undefined method RedisCluster::(x(Add|Group|ReadGroup|Ack|Pending|Claim|AutoClaim|Del|Len|Trim|Info|Range|RevRange)|eval)\(\)#'
            path: src/Queue/Connection/RedisStreamCluster.php