<phpunit backupGlobals="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
        >
    <testsuites>
        <testsuite name="unit">
            <file>./tests/Queue/E2E/Adapter/LockingTest.php</file>
            <file>./tests/Queue/E2E/Adapter/RedisReconnectCallbackTest.php</file>
            <file>./tests/Queue/E2E/Adapter/ServerTelemetryTest.php</file>
            <file>./tests/Queue/E2E/Adapter/SwooleConcurrencyTest.php</file>
        </testsuite>
        <testsuite name="e2e">
            <file>./tests/Queue/E2E/Adapter/KedaTest.php</file>
            <file>./tests/Queue/E2E/Adapter/PoolTest.php</file>
            <file>./tests/Queue/E2E/Adapter/SwooleTest.php</file>
            <file>./tests/Queue/E2E/Adapter/SwooleRedisClusterTest.php</file>
            <file>./tests/Queue/E2E/Adapter/WorkermanTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
